.btn {
  padding: 10px 20px;
  background-color: $primary-jkf-blue;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $jkf-hover-blue;
  }
}

.btn-no-fill {
  text-decoration: none;
  color: $primary-jkf-blue;
  padding: 0.6rem 1.2rem;
  border: 2px solid $primary-jkf-blue;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  font-weight: 500;

  &:hover {
    border-color: $primary-jkf-blue;
    color: white;
    background-color: $primary-jkf-blue;
  }

  &.router-link-active {
    background-color: $primary-jkf-blue;
    color: white;
    border-color: $primary-jkf-blue;
  }
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c82333;
  }
}