.btn {
  padding: 10px 20px;
  background-color: $primary-jkf-blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: $jkf-hover-blue;
}