.processes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  padding: 2rem;

  .search-filter-bar {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    min-width: 80%;
  }

  .filter-buttons {
    display: flex;
    gap: 1rem;
  }

  .filters-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .active-filters {
      .filter-item { 
        font-size: 0.875rem;
        color: $neutral-600-light;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
  

  .search-container {
    flex: 1;
    position: relative;
    width: 100%;

    .search-input {
      width: 100%;
      padding: 0.75rem 2.5rem 0.75rem 1rem;
      @include default-border;
      transition: border-color 0.3s ease;
      box-sizing: border-box;

      &:focus {
        outline: none;
        box-shadow: $box-shadow;
      }

      &::placeholder {
        color: $neutral-500;
      }
    }

    .search-icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: $neutral-500;
      pointer-events: none;
      font-size: 1rem;
    }

    .search-result-text {
      font-size: 0.875rem;
      color: $neutral-600-light;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  .filter-btn {
    padding: 0.75rem 1.25rem;
    background-color: white;
    @include default-border;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    transition: all 0.2s ease;
    white-space: nowrap;

    &:hover {
      border-color: $primary-jkf-blue;
      background-color: $neutral-100-light;
    }

    i {
      font-size: 1rem;
    }
  }

  .section {
    width: 80%;
    margin-inline: auto;

    @media(max-width: 1024px) {
        width: 100% !important;
        margin: 0;
    }

    &.actions-required-section {

        .required-cards-grid{
            border-left: 4px solid $warning-500-main;
            border-radius: 4px;
            padding-inline: 2rem;
            padding-block: 4rem;
            background-color: $neutral-200-light;
        }
    }

    .cards-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      .no-results {
        grid-column: 1 / -1;
        text-align: center;
        padding: 2rem;
        color: $neutral-500;

        p {
          margin: 0;
        }
      }
    }

    .show-more-container{
        display: flex;
        justify-content: center;
        margin-block: 2rem;
    }
  }
}