.rotate{
  transform: rotate(180deg);
}

.form-group {
  position: relative;
  
  #role {
    position: relative;
  }
  
  .fa-chevron-down {
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translateY(50%);
    font-size: 1rem;
  }
}

.form-container {
  max-width: 30%;
  margin: 2rem auto;
  padding: 2rem;
  @include default-border;
  box-shadow: $box-shadow;

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .btn {
    width: 100%;
  }

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      @include default-border;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: $primary-jkf-blue;
        box-shadow: $box-shadow-hover;
      }
    }

    select {
      width: 100%;
      padding: 0.75rem;
      @include default-border;
      box-sizing: border-box;
      appearance: none;

      &:focus {
        outline: none;
        border-color: $primary-jkf-blue;
        box-shadow: $box-shadow-hover;
      }
    }
  }
}
