h1,
h2,
h3,
h4,
p,
span,
label{
    color: $neutral-800;
    margin: 0;
}

h1{
    @include heading-2-semi-bold;
}

h2{
    @include heading-4-semi-bold;
}

h3{
    @include body-large-semibold;
}

h4,
span{
    @include body-regular-semibold;
}

p,
button,
label,
input,
select{
    @include body-regular;
}
